################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/CompetitiveProgrammingVS.vcxproj.user
/CompetitiveProgrammingVS.vcxproj.filters
/CompetitiveProgrammingVS.vcxproj
/CompetitiveProgrammingVS.VC.VC.opendb
/CompetitiveProgrammingVS.VC.db
/CompetitiveProgrammingVS.sln
/.vs/CompetitiveProgrammingVS/v14
